:root {
  --wct-bg-primary: #0f172a; /* slate-950 */
  --wct-bg-secondary: #1e293b; /* slate-900 */
  --wct-bg-tertiary: #334155; /* slate-800 */
  
  --wct-border-color: #1e293b;
  
  --wct-text-primary: #f1f5f9;
  --wct-text-secondary: #94a3b8;
  
  --wct-accent: #2563eb; /* blue-600 */
  --wct-accent-hover: #3b82f6; /* blue-500 */
  
  --wct-track-bg: #ffffff;
  --wct-track-grid: #e2e8f0;
}

.wct-theme-dark {
  /* Default variables are dark */
}

.wct-theme-light {
  --wct-bg-primary: #ffffff;
  --wct-bg-secondary: #f8fafc;
  --wct-bg-tertiary: #e2e8f0;
  
  --wct-border-color: #e2e8f0;
  
  --wct-text-primary: #0f172a;
  --wct-text-secondary: #64748b;
}